.wrapper{
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
main{
    width: 100%;
    height: 100vh;
    color: white;
    position: relative;
    z-index: 1;
    padding: 2rem 5rem;
    max-width: 140rem;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.70);
    z-index: 0;
}

.header {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list{
    display: flex;
    gap: 2rem;
    font-weight: 400;
}
.nav-list li{
    list-style: none;
    text-transform: uppercase;
}
.logo{
    font-size: 2rem;
}
.logo span{
    font-weight: bold;
    font-size: 3rem;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.header-text{
    font-size: 3.6rem;
}
.description{
    color: #999;
}
.btn{
    padding: 1rem 2rem;
    width: 100%;
    text-align: center;
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
}
.appointment-btn{
    background-color: #0A76D8;
    max-width: 40%;
    margin: 2rem auto;
    border-radius: 0.5rem;


}
